package components

templ Base(title, header string, body templ.Component) {
    <!doctype html>
    <html lang="en">
        @Head(title)
        <body>
            @Header(header)
            <main> 
                @Nav()
                @body
            </main> 
            @Footer()
        </body>
    </html>
}
